/*FONTS
font-family: 'Poppins', sans-serif;

*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


/************* TITULO MAIN **************/
.tituloMain{
    text-align: center;
}

/*************** CARDS ******************/

.containerCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5%;
}

.cards{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 300px;
    height: auto;
    margin: 20px;
    box-shadow: 0 0 25px rgb(118, 118, 118);
}

.cards img {
    width: 40%;
    height: 40%;
    margin: auto;
    padding-top: 20px;
}

.cards h3 {
    width: 100%;
    height: 15%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1.25rem;
}

.cards p {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 10%;
    text-align: center;
}

/*********BOTON CARDS**********/

.botonCards{
    width: 100%;
    height: 3rem;
    background-color: rgba(243, 119, 237, 0.905);
    color: rgb(55, 55, 55);
    border: 1px solid rgb(172, 172, 172);
    cursor: pointer;
}