/*CONTAINER GLOBAL*/
.container{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: black;
}

/*IMAGEN DE LOGO*/

.container-logo{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 30px;
}

.container-logo img{
    width: 150px;
    margin-left: 0;
    border-radius: 50%;
}
/*TITULO*/

.container-logo h1{
    color: beige;
    padding-left: 20px;
}

/*NAVBAR*/

.navBar{
    display: flex;
    justify-content: center;
}

.navBar ul{
    display: flex;
    align-items: center;
    padding: 0;
}

.navBar ul li {
    list-style: none;
    padding: 10px;
}

.navBar ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: beige;
}

.navBar ul li a:hover{
    color: rgb(227, 178, 54);
}

/*LOGO CARRITO*/

.container-carrito{
    display: flex;
    align-items: center;
    padding-right: 50px;
}

.container-carrito p {
    color: beige;
    text-align: center;
    width: 25px;
    font-size: 20px;
    background-color: rgb(246, 0, 0);
    border-radius: 50%;
}